.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    background-color: #f8f9fa;
  }
  
  .notfound-icon {
    margin-bottom: 20px;
  }
  
  .notfound-message {
    max-width: 400px;
    font-size: 16px;
    color: #555;
  }
  